@charset 'utf-8';

/* ==========================================================================
	common Style
========================================================================== */

	* {box-sizing:border-box;}

	html, body {width:100%; height:100%; margin:0; padding:0; }
	body {font-size:16px; color:#444; font-weight:400; letter-spacing:-1px; line-height:1.6; font-family:'NotoSansKR', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; overflow-x:hidden;}

	.font-NS {font-family:'NanumSquare', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; letter-spacing:0;}

	a:link,
	a:hover,
	a:active,
	a:focus,
	a:visited {color:#444; text-decoration:none;}
	a:hover,
	a:focus {text-decoration:none;}

	ul, ol {list-style-type:none; margin:0; padding:0; }
	b, strong {font-weight:500;}
	em {font-style:normal;}
	h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}
	img {border:0;}
	iframe {display:inline-block; border:0;}
	figure, figcaption {margin:0; padding:0;}
	address {margin:0; padding:0; font-style:normal;}
	fieldset {margin:0; padding:0; border:0;}
	legend {overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
	button {cursor:pointer; font-family:'NotoSansKR', 'NanumSquare', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;}
	label {display: inline-block; vertical-align: middle; cursor: pointer;}
	select {border:1px solid #bec2c7; width:60px; height:40px; line-height:38px; padding:0 0 0 5px}

	/* title */
	h2.tit {font-size:30px; font-weight:500; line-height:1.1;font-family:'NanumSquare';}
	h3.tit {font-size:30px; font-weight:bold; line-height:1.1; font-family:'NanumSquare';}
	h4.tit {font-size:22px; font-weight:500; line-height:1.1; position:relative;}
	h5.tit {font-size:19px; line-height:1.1; font-weight:500;}
	h6.tit {position:relative; padding:0 0 0 10px; color:#555; font-size:15px; line-height:18px; font-weight:normal;}
	h6.tit:before {content:''; position:absolute; top:6px; left:0; width:3px; height:3px; background-color:#666;}

        /* hidden */
	.hidden,
	.title_hidden {position:fixed; left:-99999px; top:-99999px; overflow:hidden; width:0; height:0; font-size:0; line-height:0;} {position:fixed; left:-99999px; top:-99999px; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}

	/* table */
	.table-wrap {position:relative; border-top:2px solid #00182e; /* border-bottom:1px solid #93979c; */}
	table {width:100%; margin:0; border:0; table-layout:fixed; border-collapse:collapse; empty-cells:show;}
	table caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
	table th,
	table td {padding:0;}

	.table-list{border-top:2px solid #273346;}
	.table-list table{width:100%; }
	.table-list table thead tr th{text-align: center; font-size:15px; color:#333; font-weight:bold; padding:12px 10px; height:45px; background-color:#fff; border-bottom:1px solid #273346; border-left:1px solid #e0e0e0;}
	.table-list table thead tr th:first-child{border-left:none;}
	.table-list table tbody tr td{text-align: center; font-size:15px; color:#555; line-height:24px; padding:10px; height:45px; background-color:#fff; border-bottom:1px solid #e0e0e0; border-left:1px solid #e0e0e0; }
	.table-list table tbody tr td:first-child{border-left:none;}
	.table-list table tbody tr .btn-blue{display:inline-block; color:#fff; background-color:#024da1; border:1px solid #024da1; padding:6px 12px; font-size:13px;}
        .table-list table tbody tr .blue {background: #CED8F6;}
        .table-list table tbody tr .white {background: #FFFFFF;}
        .table-list table tbody tr .red {background:#F6CED8;}
        .table-list table tbody tr:hover {cursor: pointer; font-weight:bold;}

	/* search-box */
	.search-box{background-color:#f5f7fa; padding:20px 60px; margin-bottom:30px;}
	.search-box label{display:inline-block; vertical-align: top; line-height:40px; margin-right:15px;}
	.search-box select{display:inline-block; vertical-align: top; margin-left:50px;}
	.search-box input{display:inline-block; vertical-align: top; }
	.search-box .input-text {display:inline-block; width:32%; height:40px; line-height:38px; margin:0; padding:0 0 0 10px; border-radius:0; border:1px solid #bec2c7; background-color:#fff; color:#444;}
	.search-box .input-text::-ms-clear {display: none;}
	.search-box .input-text:focus {border-color:#bec2c7; outline:0; /* box-shadow:none; */}
        .search-box .input-date {display:inline-block; width:15%; height:40px; line-height:38px; margin-left: 5px; margin-right: 5px; padding:0 0 0 10px; border-radius:0; border:1px solid #bec2c7; background-color:#fff; color:#444;}
        .search-box .input-date::-ms-clear {display: none;}
        .search-box .input-date:focus {border-color:#bec2c7; outline:0; /* box-shadow:none; */}
	.search-box .btn-search{width:50px; height:40px; display:inline-block; vertical-align: top; font-size:0; border:1px solid #bec2c7; background:#fff url('/images/btn-sb-search.png') no-repeat center;}
        .search-box .btn-init{width:50px; height:40px; display:inline-block; vertical-align: top; font-size:0; border:1px solid #bec2c7; background:#fff url('/images/btn-sb-init.png') no-repeat center;}
        .search-box img{margin-top:15px;}

        /* information-box */
        .information-box{margin-bottom:10px;}
        .information-box h3{text-align: right;}

        /* exhibition-box */
        .exhibition-box{background-color:#f5f7fa; padding:20px 60px; margin-bottom:30px;}
        .exhibition-box input{display:inline-block; vertical-align: top; }
        .exhibition-box .btn-blue{display:inline-block; color:#fff; background-color:#024da1; border:1px solid #024da1; padding:6px 12px; font-size:13px;}
        .exhibition-box input[type=checkbox] + label {display:inline-block; font-size:13px; display:inline-block; vertical-align: middle; margin-left:10px;}
        .exhibition-box input[type=checkbox] {display:none; margin:0.2em;}
        .exhibition-box input[type=checkbox] + label:before {content:"\2714"; border:2px solid #bec2c7; border-radius:0.2em; color:transparent; display:inline-block; width:20px; height:20px; vertical-align: middle;}
        .exhibition-box input[type=checkbox]:checked + label:before {display:inline-block; background-color:#024da1; border:2px solid #bec2c7; vertical-align: middle; background:#fff url('/images/bg_checkbox.png') no-repeat center;}
        .exhibition-box .input-text {display:inline-block; width:32%; height:30px; line-height:38px; margin-left:25px; padding:0 0 0 10px; border-radius:0; border:1px solid #bec2c7; background-color:#fff; color:#444;}
        .exhibition-box .input-text::-ms-clear {display: none;}
        .exhibition-box .input-text:focus {border-color:#bec2c7; outline:0; /* box-shadow:none; */}

				/* survey-box */
				.survey-box{background-color:#f5f7fa; padding:20px 60px; margin-bottom:30px;}
				.survey-box input{display:inline-block; vertical-align: top; }
				.survey-box .btn-blue{display:inline-block; color:#fff; background-color:#024da1; border:1px solid #024da1; padding:6px 12px; font-size:13px;}
				.survey-box input[type=checkbox] + label {display:inline-block; font-size:13px; display:inline-block; vertical-align: middle; margin-left:10px;}
				.survey-box input[type=checkbox] {display:none; margin:0.2em;}
				.survey-box input[type=checkbox] + label:before {content:"\2714"; border:2px solid #bec2c7; border-radius:0.2em; color:transparent; display:inline-block; width:20px; height:20px; vertical-align: middle;}
				.survey-box input[type=checkbox]:checked + label:before {display:inline-block; background-color:#024da1; border:2px solid #bec2c7; vertical-align: middle; background:#fff url('/images/bg_checkbox.png') no-repeat center;}
				.survey-box .input-text {display:inline-block; width:32%; height:30px; line-height:38px; margin-left:70px; padding:0 0 0 10px; border-radius:0; border:1px solid #bec2c7; background-color:#fff; color:#444;}
				.survey-box .input-text::-ms-clear {display: none;}
				.survey-box .input-text:focus {border-color:#bec2c7; outline:0; /* box-shadow:none; */}
				.survey-box .input-text:disabled {background-color:#bec2c7;}

/* ==========================================================================
	layout
========================================================================== */

	.inner-wrap {position:relative; width:1240px; margin:0 auto; padding:0 30px;}
	.inner-wrap:before, .inner-wrap:after {content:''; display:table;}
	.inner-wrap:after {clear:both;}

	#header { position:relative; }
	#header .top {padding:20px 0; border-bottom:2px solid #e8e8e8;}
        #header .top .left {float:left;}
	#header .top .left .logo {display:inline-block; vertical-align: top; margin:0; font-size:0; line-height:0;}
	#header .top .left .logo a {display:block; width:296px; height:29px; background:url('/images/top-logo.png') no-repeat 0;}
        #header .top .right {float:right;}
	#header .bottom {border-bottom:3px solid #333;}
	#header .bottom .right {float:right; margin-top:12px;}

	#gnb ul{padding-left:30px;}
	#gnb ul li {float:left; padding:0 80px;}
	#gnb ul li a{display:inline-block; color:#333; font-weight:bold; font-size:20px; padding:15px 0; border-bottom:4px solid #fff; font-family:'NanumSquare'; letter-spacing:0.5px;}
	#gnb ul li a:hover,
	#gnb ul li.on a{border-bottom:4px solid #273346;}

	#container {padding:50px 0 80px 0; min-height:1080px;}
	#container .sub-contain {position:relative; padding-left:300px; }
	#snb {position:/*absolute*/fixed; margin-top:0%; margin-left:-300px; width:240px; }
	#snb .left-menu {margin-top:20px; border-bottom:1px solid #273346;}
	#snb .left-menu > li > a{display:block; font-size:17px; color:#666; padding:10px 15px; border-top:1px solid #cccfd3; }
	#snb .left-menu > li > a.on{color:#fff; background-color:#273346;}
	#snb .left-menu > li > a.depth2{background-color:#fff;}
	#snb .left-menu > li > a.depth2.on{background-color:#273346; border-bottom:1px solid #cccfd3;}
	#snb .left-menu > li > .depth3{padding:10px 15px; border-top:1px solid #cccfd3;}
	#snb .left-menu > li > .depth3 a{position:relative; display:block; font-size:15px; line-height:30px; color:#999; padding-left:13px;}
	#snb .left-menu > li > .depth3 a:before{content:''; position:absolute; top:13px; left:0; width:6px; height:1px; background-color:#d6d6d6;}
	#snb .left-menu > li > .depth3 a.on{color:#333; text-decoration:underline; }
	#snb .left-menu > li > .depth3 a.on:before{background-color:#fd5b03;}

	.content-wrap .title-area {border-bottom:2px solid #e0e0e0; padding-bottom:20px;}
	.content-wrap .title-area .tit{display:inline-block; }
	.content-wrap .title-area .right {float:right; }
	.content-wrap .title-area .location {display:inline-block; vertical-align: top; margin-top:16px;}
	.content-wrap .title-area .location li{display:inline-block; vertical-align: top;  font-size:13px; line-height:1.1; color:#666; background:url('/images/arr-location.png') no-repeat left center; padding-left:12px; margin-left:7px;}
	.content-wrap .title-area .location li.home{background:none; padding-left:0; margin-left:0;}
	.content-wrap .title-area .location li.home span{width:12px; height:10px; display:inline-block; vertical-align: middle; font-size:0; background:url('/images/location-home.png') no-repeat 0;}
	.content-wrap .title-area .link {display:inline-block; vertical-align: top; margin-top:10px;; position:relative;}
	.content-wrap .title-area .link:after {clear:both; display:block; content:"";}
	.content-wrap .title-area .link a{width:25px; height:25px; font-size:0; display:inline-block; vertical-align: top; margin-left:20px; float:left;}

	.content-wrap .content {margin-top:50px;}

	.text-box {margin-bottom:45px;}
	h4.tit {margin-bottom:20px;}
	h5.tit {margin-bottom:20px;}
	.bd-box {border:1px solid #cccfd3; background-color:#fff; padding:30px; margin-bottom:20px;}
        .bd-box .tit strong {font-weight:800;}

	.calendar-control { position:relative; padding:10px 0;margin-bottom:10px; text-align: center; }
	.calendar-control .year-month{display:inline-block; vertical-align: middle; font-size:22px; color:#222; }
	.calendar-control .month-btn{display:inline-block; vertical-align: middle; width:12px; height:19px; font-size:0; border:none; margin:0 30px;}
	.calendar-control .month-btn.prev{background:#fff url('../images/common/btn/arr-cal-prev.png') no-repeat 0; }
	.calendar-control .month-btn.prev:hover{background:#fff url('../images/common/btn/arr-cal-prev-over.png') no-repeat 0; }
	.calendar-control .month-btn.next{background:#fff url('../images/common/btn/arr-cal-next.png') no-repeat 0; }
	.calendar-control .month-btn.next:hover{background:#fff url('../images/common/btn/arr-cal-next-over.png') no-repeat 0; }
	.calendar-control .btn-calendar{position:absolute; top:10px; right:0; padding:0px 20px; height:38px; border:1px solid #333; color:#333; font-size:14px; background-color:#fff; }

	.calendar-form {border-top:2px solid #273346; }
	.calendar-form table thead th{border-bottom:1px solid #273346; border-right:1px solid #e0e0e0; padding:15px 5px; font-size:15px; color:#333; font-weight:600;}
	.calendar-form table thead th:first-child{border-left:1px solid #e0e0e0;}
	.calendar-form table tbody td{position:relative; height:117px; vertical-align: top; border-left:1px solid #fff; border-top:1px solid #fff; border-bottom:1px solid #e0e0e0; border-right:1px solid #e0e0e0; font-size:14px; font-weight:500; color:#555; text-align: center;}
	.calendar-form table tbody td:first-child{border-left:1px solid #e0e0e0;}
	.calendar-form table tbody td .day{color:#555;}
	.calendar-form table tbody td .box{width:100%; height:100%;}
	.calendar-form table tbody td .box > a {display:block; width:100%; height:100%; padding:15px 5px;}
	.calendar-form table tbody td.today {background-color:#f5f7fb;}
	.calendar-form table tbody td.sun{color:#ff661a;}
	.calendar-form table tbody td.sat{color:#024da1;}
	.calendar-form table tbody td.select-day {}
	.calendar-form table tbody td.select-day .box{}
	.calendar-form table tbody td.select-day .box > a {padding:14px 5px; z-index:2; border:1px solid #024da1;}
	.calendar-form table tbody td.other .day{color:#e0e0e0;}

	.calendar-form .ico span{display:inline-block; vertical-align: middle; width:26px; height:26px; margin:3px; font-size:0;}
	.calendar-form .ico span.rest{background:url('../images/common/ico/ico-rest.png') no-repeat 0; }
	.calendar-form .ico span.exhibition{background:url('../images/common/ico/ico-exhibition.png') no-repeat 0;}
	.calendar-form .ico span.culture{background:url('../images/common/ico/ico-culture.png') no-repeat 0;}
	.calendar-form .ico span.scholarship{background:url('../images/common/ico/ico-scholarship.png') no-repeat 0;}
	.calendar-form .ico span.education{background:url('../images/common/ico/ico-education.png') no-repeat 0;}
	.calendar-form .ico span.etc{background:url('../images/common/ico/ico-etc.png') no-repeat 0;}

	.calendar-form .ico-area{border:1px solid #e0e0e0; border-top:none; padding:30px 0; text-align: center;}
	.calendar-form .ico-area span{display:inline-block; vertical-align: middle; padding-left:37px; margin:7px 20px; font-size:15px; color:#555; line-height:26px;}
	.calendar-form .ico-area span.rest{background:url('../images/common/ico/ico-rest.png') no-repeat left center; }
	.calendar-form .ico-area span.exhibition{background:url('../images/common/ico/ico-exhibition.png') no-repeat left center;}
	.calendar-form .ico-area span.culture{background:url('../images/common/ico/ico-culture.png') no-repeat left center;}
	.calendar-form .ico-area span.scholarship{background:url('../images/common/ico/ico-scholarship.png') no-repeat left center;}
	.calendar-form .ico-area span.education{background:url('../images/common/ico/ico-education.png') no-repeat left center;}
	.calendar-form .ico-area span.etc{background:url('../images/common/ico/ico-etc.png') no-repeat left center;}

	.select-day-list {margin-top:50px;}
	.select-day-list .tit-area:after{clear:both; content:''; display:block;}
	.select-day-list .tit-area .date{display:inline-block; padding-left:65px; font-size:22px; line-height:46px; color:#333; font-weight:500; background:url('../images/common/ico/ico-select-date.png') no-repeat left center;}
	.select-day-list .tit-area .arr{float:right;}
	.select-day-list .tit-area .arr button{float:left; width:38px; height:38px; background-color:#fff; border:1px solid #bfc7d0; font-size:0;}
	.select-day-list .tit-area .arr .prev{background:url('../images/common/btn/arr-cal-prev-over.png') no-repeat center;}
	.select-day-list .tit-area .arr .next{background:url('../images/common/btn/arr-cal-next-over.png') no-repeat center; border-left:none;}

	.select-day-list .schedule-list{margin-top:30px; padding-top:15px; border-top:1px solid #273346;}
	.select-day-list .schedule-list:after{clear:both; content:'';display:block; }
	.select-day-list .schedule-list ul li{width:50%; float:left; padding:15px 35px 15px 0;}
	.select-day-list .schedule-list ul li a{display:block;}
	.select-day-list .schedule-list ul li a:after{clear:both; content:''; display:block;}
	.select-day-list .schedule-list ul li .img{width:160px; height:225px; float:left; font-size:0;}
	.select-day-list .schedule-list ul li .img img{width:100%;}
	.select-day-list .schedule-list ul li .text{width:220px; float:left; margin-left:20px;}
	.select-day-list .schedule-list ul li .text button{padding:0 25px; height:38px; border:1px solid #bfc7d0; background-color:#fff; font-size:15px; color:#333;}
	.select-day-list .schedule-list ul li .text .tit{line-height:26px; margin-top:15px; font-weight:500;}

	.calendar-day{background-color:#f5f7fa; padding:10px 27px; margin-bottom:30px;}
	.calendar-day:after{clear:both; content:''; display:block;}
	.calendar-day span{float:left; width:25px; height:25px; line-height:26px; border-radius:13px; font-size:14px; color:#555; text-align: center; margin-left:1px;}
	.calendar-day span.today{background-color:#024da1; color:#fff;}
	.calendar-day span.sun{color:#ff661a;}

	#footer{border-top:3px solid #333; }
	#footer .top{border-bottom:2px solid #d6d6d6; padding:12px 0;}
	#footer .bottom{padding:25px 0;}
